---
key: courses
booking: true
---
<div class="row col-md-12">
  <h2 align="center">{{site.data.translation['current_courses'][page.lang]}}</h2>

  <p align="justify">Eingebettet in unseren regulären Tagesablauf bieten wir regelmäßig zusätzliche Kurse an, um den Einstieg ins
    Yoga zu finden oder Anregungen für die eigene Praxis zu geben. Regelmäßig laden wir erfahrene Yogalehrer zu uns ein,
    die uns und unseren Gästen einen tieferen Einblick ins Yoga ermöglichen und manchmal auch eine gänzlich andere Perspektive
    eröffnen.</p>
</div>

<div class="row col-md-12" align="center">
  <img src="/images/impressionen/IMG_2598.jpg" align="center" width="500" />
</div>

{% include schedule.html %}
{% include courses.html %}

