@brand-primary:                     #5a78a0;
@font-size-base:                    16px;
@headings-color:                    @brand-primary;

@navbar-default-bg:                 darken(@brand-primary, 15%);
@navbar-default-brand-hover-color:  #fff;
@navbar-default-link-color:         #fff;
@navbar-default-link-active-color:  lighten(@brand-primary, 25%);
@navbar-default-link-active-bg:     darken(@brand-primary, 25%);
@navbar-margin-bottom:              0px;

@jumbotron-bg:                      lighten(@brand-primary, 30%);

@footer-default-bg:                 @jumbotron-bg;
