// Only for debugging
//.row {
//  border: 1px dotted rgba(0,0,0,0.3);
//}
//
//div[class^="col-md"] {
//  background: rgba(255,0,0,0.2);
//}
// -----------

.carousel {
  width: 100%;
}

#map, #route {
  height: 400px;
}

#bus {
  width: 100%;
  margin: 1%;
  min-height: 400px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

footer {
  background: @footer-default-bg;
  border-radius: 5px;
  padding: 10px;
}

// Wrapped images
.ads_left {
  float: left;
  padding: 5px;
  margin: 0;
}

.ads_right {
  float: right;
  padding: 5px;
  margin: 0;
}

// Social icons formatting
.social-icons {
  margin: 0;
  padding: 0 0 48px;
  list-style-type: none;
}

.social-icons li {
  display: inline-block;
  padding: 0 12px;
}

.social-icons a {
  display: block;
  font-size: 24px;
  height: 72px;
  width: 72px;
  line-height: 72px;
  border-radius: 50%;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.social-icons i {
  vertical-align: middle;
}
.social-mini {
  margin: 0;
  padding: 0 0 24px;
  list-style-type: none;
}
.social-mini li {
  display: inline-block;
  font-size: 16px;
  padding: 0 12px;
}

.social-icons a {
  color: white;
  background-color: @navbar-default-bg;
}

.social-icons a:hover {
  background-color: @navbar-default-link-active-bg;
}

#head{
  background-color: @brand-primary;
  margin:0 auto;
  font-family: @font;
  position: relative;
  text-align: center;
  padding: @padding-head;
}

.navbar{
  font: @font;

  font-family: 'Montserrat', sans-serif;

}
.navbar-nav {
  width: 100%;
  font: @font;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav > li.navbar-right {
  float: right;
  font: @font;
}

.col-md-12-home{
  background-color: @brand-secondary;
  padding: 10px;
  height:100px;
}

#subtitle{
  text-align:       center;

  color:            @subtitle-font-color;
  background-color: @brand-primary;
  padding:          1em;
}

.col-md-12home{
  text-align: center;
  color: @brand-primary;

}

.btn-primary{
  a {
    color : white;
  }
}

.tableblock {

  th {
    padding: 5px;
    background-color: @brand-primary;
    color: white;
  }

  .halign-center {
    text-align: center;
  }

}

table.timetable {
  padding: 10px;
  border: 1px solid @brand-primary;
}
