<div class="row" align="center">
    <div class="row">
      <img src="/images/dot.png" height="30px"/>
    </div>
  <button type="button" class="btn btn-primary"><a href="/pages/{{ page.lang}}/vacation.html" >{{ site.data.navigation[page.lang]['vacation'].title}}</a></button>
  <button type="button" class="btn btn-primary"><a href="/pages/{{ page.lang}}/courses.html" target="_top">{{ site.data.navigation[page.lang]['courses'].title}}</a></button>
  <button type="button" class="btn btn-primary"><a href="mailto:reservations@riodelamiel.eu?subject={{ site.data.translation['enqsubject'][page.lang]}}" target="_top">{{ site.data.translation['enquiry'][page.lang]}}</a></button>

</div>
