<div id="head"><div id="logo"> <img src="/images/logo2.png" alt="logo" width="150"/></div></div>

<header role="banner">

  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            {% for menu in site.data.navigation[page.lang] %}
            {% if menu[0] != 'logo' %}
            <li class="navbar-center"><a href="{{ menu[1].url }}">{{ menu[1].title }}</a></li>
            {% endif %}
            {% endfor %}

          {% if page.type == "course" %}
            {% assign a = site.courses | where:"course", page.course | sort:"lang" %}
            {% include languages.html alternatives = a %}
          {% endif %}
          {% if page.type == "posts" %}
            {% assign a = site.posts | where:"date", page.date | sort:"lang" %}
            {% include languages.html alternatives = a %}
          {% endif %}
          {% if page.type == "trainer" %}
            {% assign a = site.pages | where:"type", "trainer" | where:"trainer", page.trainer | sort:"lang" %}
            {% include languages.html alternatives = a %}
          {% endif %}
          {% if page.type == "page" %}
            {% assign a = site.content | where:"key", page.key | sort:"lang" %}
            {% include languages.html alternatives = a %}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="carousel-pictures" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for banner in site.banners %}
      {% if forloop.first %}
      <li data-target="#carousel-pictures" data-slide-to="0" class="active"></li>
      {% else %}
      <li data-target="#carousel-pictures" data-slide-to="1"></li>
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox"  >
      {% for banner in site.data.banner %}
      {% if forloop.first %}
      <div class="item active">
      {% else %}
      <div class="item">
      {% endif %}
        <img src="/images/{{ banner.img }}" alt="{{ banner.alt }}" width="100%" >
      </div>
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-pictures" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-pictures" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</header>



<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>


