<div class="row col-md-12">
  <h3 align="center">{{site.data.translation['schedule'][page.lang]}}</h3>
  <table class="timetable" align="center">
    <tr>
      <td width="30px" height="10px" //>
      <td width="30px" />
      <td width="25px" />
      <td width="30px" />
      <td width="30px" />
      <td width="200px" />
      <td width="30px" />
    </tr>
    <tr>
      <td />
      <td align="center">07:00</td>
      <td align="center">-</td>
      <td align="center">07:45</td>
      <td />
      <td>Meditation / Kirtan</td>
      <td />
    </tr>
    <tr>
      <td width="30px" />
      <td align="center">08:00</td>
      <td align="center" width="25px">-</td>
      <td align="center">09:30</td>
      <td width="30px" />
      <td>Yoga</td>
      <td width="30px" />
    </tr>
    <tr>
      <td width="30px" />
      <td align="center">10:00</td>
      <td align="center" width="25px">-</td>
      <td align="center">11:30</td>
      <td width="30px" />
      <td>{{site.data.translation['breakfast'][page.lang]}}</td>
      <td width="30px" />
    </tr>
    <tr>
      <td width="30px" />
      <td align="center">17:30</td>
      <td align="center" width="25px">-</td>
      <td align="center">19:00</td>
      <td width="30px" />
      <td>Yoga</td>
      <td width="30px" />
    </tr>
    <tr>
      <td width="30px" />
      <td align="center">19:30</td>
      <td align="center" width="25px">-</td>
      <td align="center">21:00</td>
      <td width="30px" />
      <td>{{site.data.translation['diner'][page.lang]}}</td>
      <td width="30px" />
    </tr>
    <tr>
      <td width="30px" />
      <td align="center">21:00</td>
      <td align="center" width="25px">-</td>
      <td align="center">21:45</td>
      <td width="30px" />
      <td>Meditation / Kirtan</td>
      <td width="30px" />
    </tr>
    <tr>
      <td height="10px" />
      <td/>
      <td/>
      <td/>
      <td/>
      <td/>
      <td/>
    </tr>
  </table>
</div>
