<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://code.jquery.com/jquery-{{ site.versions.jquery }}.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/{{ site.versions.bootstrap }}/js/bootstrap.min.js"></script>
<script src="/scripts/gmaps.min.js"></script>
<script src="/scripts/main.js"></script>

<script type="text/javascript">

  // highlight the right button in the menu
  $(function() {
    {% for link in site.links %}
    $("#{{link.key}} a:contains('{{link.text}}')").parent().addClass('active');
    {% endfor %}
  });

  {% if site.google_analytics %}
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  {% endif %}

</script>
