---
key: courses
booking: true
---
<div class="row col-md-12">
  <h2 align="center">{{site.data.translation['current_courses'][page.lang]}}</h2>

  <p align="justify">In addition to our normal daily schedule we regularly offer courses for beginners to find their
    way into a daily Yoga routine or for experienced Yoga practicioners to provide some inspiration for enriching their
    daily practice. Often we invite experienced Yoga teachers we have met ourselves or we have heard of, so that they
    can teach our guests and also ourselves with a fresh perspective.</p>
</div>

<div class="row col-md-12" align="center">
  <img src="/images/impressionen/IMG_2598.jpg" align="center" width="500" />
</div>

{% include schedule.html %}
{% include courses.html %}