<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
  {% include head.html %}
</head>
<body id="{{ page.key }}">
{% include header.html %}
{% assign meta = site.data.courses[page.course] %}
{% assign trainer = site.data.trainer[meta.trainer] %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
  <div class="container">
    <div class="row">
      <div class="col-md-10 page-body">
        {% include coursemeta.html overview=false %}
        {% if meta.image %}
        <img src="/images/courses/{{meta.image}}" class="ads_left" />
        {% endif %}
        {{content}}
      </div>
    </div>
    <table class="timetable tableblock" align="center">
      <tr>
        <th colspan="3" class="tableblock">{{ site.data.translation['roomtype'][page.lang]}}</th>
        <th class="tableblock" align="center">{{ site.data.translation['per_person'][page.lang]}}</th>
      </tr>
      <tr>
        <td width="10px">
          <img src="/images/dot.png">
        </td>
        <td>{{ site.data.translation['dorm'][page.lang] }}</td>
        <td width="100px">
          <img src="/images/dot.png">
        </td>
        <td align="center">{{ meta.price.dorm}}€</td>
      </tr>
      <tr>
        <td width="10px">
          <img src="/images/dot.png">
        </td>
        <td>{{ site.data.translation['twin'][page.lang] }}</td>
        <td width="100px">
          <img src="/images/dot.png">
        </td>
        <td align="center">{{ meta.price.twin}}€</td>
      </tr>
      <tr>
        <td width="10px">
          <img src="/images/dot.png">
        </td>
        <td>{{ site.data.translation['single'][page.lang] }}</td>
        <td width="100px">
          <img src="/images/dot.png">
        </td>
        <td align="center">{{ meta.price.single}}€</td>
      </tr>
    </table>

    {% include enquiry.html %}
    {% include share.html %}
  </div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>