<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
  {% include head.html %}
</head>
<body id="{{ page.key }}">
{% include header.html %}
{% assign meta = site.data.courses[page.course] %}
{% assign trainer = site.data.trainer[meta.trainer] %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
  <div class="container">
    <div class="row">
      <div class="col-md-10 page-body">
        <h2>{{page.title}}</h2>
        {% if meta.image %}
        <img src="/images/courses/{{meta.image}}" class="ads_left" />
        {% endif %}
        {{content}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 page-body">
        <a href="/pages/{{page.lang}}/courses.html">{{site.data.translation['current_courses'][page.lang]}}</a>
      </div>
    </div>
    {% if page.booking %}
    {% include enquiry.html %}
    {% endif %}

    {% if page.share %}
    {% include share.html %}
    {% endif %}
  </div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>