<!DOCTYPE html>
<html lang="{{page.lang}}">
<head>
{% include head.html %}
{% include scripts.html %}
</head>
<body id="{{ page.key }}">
{% include header.html %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12" itemprop="description">
        {{ content }}
      </div>
    </div>
    {% if page.booking %}
    {% include enquiry.html %}
    {% endif %}

    {% if page.share %}
    {% include share.html %}
    {% endif %}
  </div>
</div>
{% include footer.html %}
</body>
</html>