<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body id="{{ page.key }}">
{% include header.html %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-body" itemprop="description">
        {{ content }}
      </div>
    </div>
    {% if page.share %}
    <div class="row">
    {% include share.html %}
    </div>
    {% endif %}
  </div>
</div>
{% include footer.html %}

{% include scripts.html %}
</body>
</html>