<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body id="{{ page.key }}">
{% include header.html %}
{% assign trainer = site.data.trainer[page.trainer] %}
<div id="main" class="content" role="main" itemprop="mainContentOfPage">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-body" itemprop="description">
        <h2>{{trainer.name}}</h2>
        <img src="/images/trainer/{{page.trainer}}.jpg" height="400" class="ads_left" />
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 page-body" itemprop="description">
        <h2>Kurse</h2>
        {% for course in site.courses %}
          {% for t in course.trainer %}
            {% if t == page.trainer %}
              <h3>{{course.start}} - {{course.end}}</h3>
              <a href="{{course.url}}">{{course.title}}</a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    {% if page.share %}
    <div class="row">
      <hr />
      {% include share.html %}
    </div>
    {% endif %}
  </div>
</div>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>